.sign-in-link {
  color: #a4a4a4;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.sign-in-link.show {
  text-decoration: underline;
  color: white;
}

.sign-in-link:hover {
  cursor: pointer;
  color: white;
}

.drop-down-authform-container > form {
  // border: 1px solid #505050;
  border-radius: 3px;
  background-color: white;
  padding: 20px;
  padding-top: 30px;
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 4px 15px 1px rgba(0, 0, 0, 0.2);
  color: black;
  font-family: 'Raleway', sans-serif;
  cursor: default;
  font-size: 13px;
}

.sign-up-form {
  right: 92px;
}
.sign-in-form {
  right: 180px;
}

@media (max-width: 700px), (max-height: 560px){
  .sign-in-form {
    right: 0;
    bottom: 100px;
  }
  .sign-in-form > input {
    margin-right: 0;
  }

  .sign-up-form{
    right: 0;
    bottom: 100px;
  }
}


.drop-down-authform-container > form > input {
  width: 80%;
  align-self: center;
  outline: none;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #808080;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;

  padding-left: 3px;
  transition: all 0.3s;
}

.drop-down-authform-container > form > input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}




.drop-down-authform-container > form > button:nth-last-child(2) {
  background: #2399cf;
  background-image: -webkit-linear-gradient(top, #2399cf, #2399cf);
  background-image: -o-linear-gradient(top, #2399cf, #2399cf);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2399cf), to(#2399cf));
  background-image: linear-gradient(to bottom, #2399cf, #2399cf);

  margin-top: 3px;
}

.drop-down-authform-container > form > button:nth-last-child(1) {
  background: #2399cf;
  background-image: -webkit-linear-gradient(top, #2399cf, #2399cf);
  background-image: -o-linear-gradient(top, #2399cf, #2399cf);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2399cf), to(#2399cf));
  background-image: linear-gradient(to bottom, #2399cf, #2399cf);

  margin-top: 3px;
}

.drop-down-authform-container > form > button {
  border: none;
  border-radius: 26px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 63%;
  margin-bottom: 2px;
  font-weight: initial;
  align-self: center;
}

.drop-down-authform-container > form > button:nth-last-child(3) {
  background: #ffffff;
  margin-top: 10px;
  color: black;
  margin-bottom: 0px;
  padding: 0px;
}

.drop-down-authform-container > form > button:nth-last-child(2):hover {
  background: #4099cf;
  text-decoration: none;
}

.drop-down-authform-container > form > button:nth-last-child(1):hover {
  background: #4099cf;
  text-decoration: none;
}
