.like-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}



img.like-button {
  width: 64px;
  height: 64px;
  padding: 10px;
  transition: transform 1s ease-out 0s, filter 1s ease-out 0s;
}

img.like-button.liked {
  transform: rotate(360deg);
}
img.like-button.unliked {
  transform: rotate(0deg);
  filter: grayscale(1);
}

// img.like-button:active {
//   padding-top: 8px;
//   width: 68px;
//   height: 68px;
// }