.portfolio-grid-container {
  z-index: 0;
}

.portfolio-view-wrapper {
  max-width: 1250px;
  height: 900px;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
}

.portfolio-details-container {
  padding-top: 40px;
  width: 360px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0px 6px 39px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}

.portfolio-details-container > div.portfolio-details {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #e8e8e8;
}
.portfolio-details-container > div.portfolio-details > p {
  font-size: 18px;
  font-weight: 700;
  color: #454545;
}

.portfolio-details {
  color: #666666;
  font-weight: 300;
  font-size: 15px;
}

.portfolio-details-container > img {
  width: 90%;
  border-radius: 180px;
  box-shadow: -3px -10px 30px rgba(0, 0, 0, 0.2);
}

.portfolio-projects-index-item-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
}
.portfolio-project-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio-project-control > button {
  color: darkgray;
  position: relative;
  top: 1px;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  left: 10px;
  transition: border 1s cubic-bezier(0.45, 1.59, 0.42, 1.73) 0s,  color 0.05s ease-in 0s;
  padding: 10px;
}

.portfolio-project-control > button:hover {
  border-bottom: 1px solid orangered;
}

.portfolio-project-control > button:focus {
  outline: none;
}
.portfolio-project-control > button:active {
  color: #808080;
}

.portfolio-index-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  height: 619px;
  overflow: scroll;
}

@media (max-width: 830px), (max-height: 560px){
  .portfolio-details-container {
    margin-left: 60px;
  }
}

@media (max-width: 700px), (max-height: 560px) {
  .portfolio-view-wrapper {
    flex-direction: column;
    margin: 0;
    padding-left: 60px;
    padding-top: 0;
    padding-right: 60px;
  }
  .portfolio-details-container {
    width: 100vw;
    right: 100px;
    margin-bottom: 10px;
    position: relative;
    height: 400px;
    img {
      width: 200px;
    }
  }

  .portfolio-projects-index-item-container {
    position: relative;
    left: 30px;
  }

  .portfolio-project-control > button {
    left: 0;
    padding-bottom: 26px;
  }
}