.project-detail-container {
  height: 50px;
}
.project-detail {
  background-color: #131313;
  color: white;
  position: fixed;
  height: 50px;
  width: 86%;
  display: flex;
  flex-direction: row;
}

.project-detail-component {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.project-detail-left {
  flex: 1;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.project-detail-left:hover {
  opacity: 1;
}
.project-detail-middle {
  flex: 1;
  text-align: center;
  flex-direction: column;
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 160%;
  }
}
.project-detail-right {
  flex: 1;

}

.project-detail-message-icon {
  position: relative;
  top: 2px;
}