li.project-item {
  list-style: none;
}

.project-item > img {
  width: 100%;
}

.project-item > p {
  padding: 10px 0;
  font-family: 'Bellefair', serif;
  font-size: larger;
  margin: 10px 0 40px 0;
  text-align: center;
  border-top: 1px solid rgba(152, 151, 151, 0.31);
}